@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	*::selection {
    background-color: var(--color-selection-bg) !important;
    color: var(--color-selection-text) !important;
	}
	.ease-default {
		transition-property: all;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.glass-primary {
		background: var(--glass-primary);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(var(--backdrop-blur-glass));
		-webkit-backdrop-filter: blur(var(--backdrop-blur-glass));
	}

	.glass-primary:focus-within {
		background: rgba(30, 215, 95, 0.05);
	}

	body {
		background-color: var(--color-primary-100);
		color: var(--color-primary-500);
		background-image: linear-gradient(var(--grid-lines) 1px, transparent 0),
			linear-gradient(90deg, var(--grid-lines) 1px, transparent 0);
		background-size: 100px 100px;
	}

	#logosPrimary path {
		@apply !fill-primary-500;
	}

	#logosSecondary path {
		@apply !fill-secondary-500;
	}
}

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--color-primary-100: #d0d0d0;
	--color-primary-200: #a0a0a0;
	--color-primary-300: #717171;
	--color-primary-400: #414141;
	--color-primary-500: #121212;
	--color-primary-600: #0e0e0e;
	--color-primary-700: #0b0b0b;
	--color-primary-800: #070707;
	--color-primary-900: #040404;
	--color-secondary-100: #d2f7df;
	--color-secondary-200: #a5efbf;
	--color-secondary-300: #78e7a0;
	--color-secondary-400: #4bdf80;
	--color-secondary-500: #1ed760;
	--color-secondary-600: #18ac4d;
	--color-secondary-700: #12813a;
	--color-secondary-800: #0c5626;
	--color-secondary-900: #062b13;

	--color-selection-bg: hsl(169,78%,7%,1);
	--color-selection-text: hsl(173,80%,36%,1);

	--color-primarystatic-100: #d0d0d0;
	--color-primarystatic-200: #a0a0a0;
	--color-primarystatic-300: #717171;
	--color-primarystatic-400: #414141;
	--color-primarystatic-500: #121212;
	--color-primarystatic-600: #0e0e0e;
	--color-primarystatic-700: #0b0b0b;
	--color-primarystatic-800: #070707;
	--color-primarystatic-900: #040404;
	--color-secondarystatic-100: #d2f7df;
	--color-secondarystatic-200: #a5efbf;
	--color-secondarystatic-300: #78e7a0;
	--color-secondarystatic-400: #4bdf80;
	--color-secondarystatic-500: #1ed760;
	--color-secondarystatic-600: #18ac4d;
	--color-secondarystatic-700: #12813a;
	--color-secondarystatic-800: #0c5626;
	--color-secondarystatic-900: #062b13;
	

	--radius-10px: 10px;
	--backdrop-blur-glass: 3px;
	--grid-lines: rgba(18, 18, 18, 0.2);
	--glass-primary: rgba(18, 18, 18, 0.05);
}

.dark {
	--color-primary-100: #121212;
	--color-primary-200: #0e0e0e;
	--color-primary-300: #0b0b0b;
	--color-primary-400: #070707;
	--color-primary-500: #d0d0d0;
	--color-primary-600: #414141;
	--color-primary-700: #717171;
	--color-primary-800: #a0a0a0;
	--color-primary-900: #d0d0d0;

	--color-selection-bg: hsl(169,70%,96%,1);
	--color-selection-text: hsl(173,80%,36%,1);

	--color-secondary-100: #062b13;
	--color-secondary-200: #0c5626;
	--color-secondary-300: #12813a;
	--color-secondary-400: #18ac4d;
	--color-secondary-500: #1ed760;
	--color-secondary-600: #4bdf80;
	--color-secondary-700: #78e7a0;
	--color-secondary-800: #a5efbf;
	--color-secondary-900: #d2f7df;
	--grid-lines: rgba(255, 255, 255, 0.2);
	--glass-primary: rgba(255, 255, 255, 0.05);
}
